<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>課題1</title>
   <style type="text/css">
       table, td, th {
           border: solid black 1px;
       }
       table {
           width: 400px;
       }
   </style>
</head>

<body>
   <h1>表示する職種を選択してください。</h1>
   <form action="", method="">
       <select name="select_job">
           <option value="all" {% if all_select %} selected {% endif %}>全員</option>
            <option value="manager" {% if mana_select %} selected {% endif %}>マネージャー</option>
            <option value="analyst" {% if ana_select %} selected {% endif %}>アナリスト</option>
            <option value="clerk" {% if cle_select %} selected {% endif %}>一般職</option>
        </select>
        <input type="submit" value="表示">
   </form>

   <h1>社員一覧</h1>

   <table>
       <tr>
           <th>社員番号</th>
           <th>名前</th>
           <th>職種</th>
           <th>年齢</th>
       </tr>

       {% for emp_info in emps %}
       <tr>
            <td> {{ emp_info.id }} </td>
            <td>{{ emp_info.name }}</td>
            <td>{{ emp_info.job }}</td>
            <td>{{ emp_info.age }}</td>
       </tr>
       {% endfor %}
    </table>
</body>
</html>
